* {
    margin: 0;
    padding: 0;
	border: 0;
}
#body {
	background-color: rgb(240,248,255);
}

.lid {
    clear: both;
    height: 0px;
    width: 100%;
    overflow: hidden;
}

#menu {
	display: none;
}

#titlePicture {
	display: none;
}


#canvas {
	display: block;
	width:100%;
	background-color: rgb(0,0,51);
}


#main-contents {
	
	margin: auto;
	width:100%;
	height: 50px;
	text-decoration:none;
	color: transparent;
}

#main-nav {
		display: none;
}
    #main-nav-large {
        display: block;
        height: 50px;
		background-image: linear-gradient(rgb(0,0,51), lightblue);
		position: sticky;		/* position the main menu bar at the top of page, even if you scroll down */
		top: 0;					/* this may not work for all browsers */
    }

        #main-nav-large ul {
            list-style: none;
			max-width: 1000px;
			margin:auto;
        }

        #main-nav-large a {
            display: block;
            color: lightblue;
            text-decoration: none;
            height: 50px;
			border: none;
            /*border: 1px solid darkblue;*/
            font-weight: bold;
            text-align: center;
            font-size: large;
        }

            #main-nav-large a:hover {
                color: white;
            }

        #main-nav-large li {
            float: left;
            width: 20%;
        }
	    #color-fade {
        display: block;
        height: 20px;
		background-image: linear-gradient(lightblue, rgb(240,248,255));
		
    }
	
	#titlePicture {
		display: none;
	}


#wrapper {
	/*;
	/**/
}
#main-page{
	max-width: 1000px;
    margin: auto;
}
#menu-i #hamburgerIcon {
    display: none;
}

#main-content-1{
	width: 33%;
	float: left;
	list-style-position: inside;
	list-style-type: circle;
	font-size: large;
}

#main-content-a {
	width: 49%;
	float: left;
	overflow: hidden;
}

#main-content-b {
	width: 50%;
	max-width: 500px;
	float: right;
	overflow: hidden;
}

#main-content-b video {
	width: 100%;
}

#map2 {
	background-size: 10px 10px;
	/*color:#CEE4F0;*/
	color: red;
}

#first-image {
	width: 33%;
	float:left;
}

#third-image {
	width: 33%;
	float:right;
}

#timeOnSite {
	font-size: 5em;
	font-weight: bold;
	color: red;
}

.small {
	font-size:1.25em;
	font-family: sans-serif;
	font-weight: bolder;
	color:#CEE4F0;
}


.inputLabel {
font-family:"OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:normal;
font-size:1em;
font-weight:600;
/*line-height:1.13;*/
color:#000000;
width:45%;
}

.formField {
	width: 45%;
	float: left;
	padding-right: 1.5em;
}

.formButtons {
	width: 45%;
	float: left;
	padding-right: 1.5em;
	
}

.medium {
	font-size: 1.25em;
	font-weight: bolder;
}
#main-content-3 {
	width: 33%;
	float: right;
}

#google-map {
	max-width: 650px;
}


#slideshow {
    background-color: green;
	background-color: aliceblue;
    width: 23%;
    position: relative;
	float: right;
}


    #slideshow img {
        transition: 1.5s;
        width: 100%;
    }


.slide-buttons {
    display: none;
    /*position: absolute;*/
    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: 30px;
    text-align: center;
    transition: 0.5s;
}

    .slide-buttons:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }

.prev {
    left: 0;
}

.next {
    right: 0;
}

#slide-img {
}

    #slide-img img {
        position: absolute;
        top: 0;
        left: 0;
    }
	

.item {
	width: 100%;
	float: right;
}

#messageField {
	height: 10em;
}


.input{
height:3em;
border:solid 2px #d7d7d7;
margin-top:6px;
font-family:"OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:normal;
font-size:16px;
border-radius:3px;
color:#555555;
box-sizing:border-box;
width:100%;
background-color:#fafafa;
margin-bottom:24px;
padding-left:1.5em;
padding-right:1.5em;
}	